<p>
  <b>Name:</b>
  <%= @map.name %>
</p>

<p>
  <b>Description:</b>
  <%= @map.description %>
</p>

<div id="map_options">
  <label>BBox<input type="checkbox" id="bbox" name="bbox" value="bbox"></label>
</div>

<%= tag('div', { class: 'map', id: 'map', data: { id: @map.id, url: map_url(@map) } }) %></div>

<%= link_to 'Layers', map_layers_path(@map) %> |
<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
